<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite parallel="tests" name="All Test Suite">
    <listeners>
    <listener class-name="Vivek.TestComponents.Listeners"> </listener>
    </listeners>
    <test name="Framework 3 Test Suite" verbose="2">
        <classes>
            <class name="Vivek.Tests.EndtoEndEcomm"/>
        </classes>
    </test>

    <test name="Error Validation Tests" verbose="2">
        <classes>
            <class name="Vivek.Tests.ErrorValidations">

            </class>
        </classes>
    </test>
</suite>
